<body>

  <main class="container-fluid">
      <div class=row>
          <div class="col col-md-12">
              <br />
              <h1>Web App Developers - Fall 2019</h1>
              <br />
              <hr>
              <h3>About The Developers</h3>
              <ul>
                <li><a href="https://sushma95.github.io/about-me/">Sushma Yedugani</a></li>
                <li><a href="https://nikithakethireddy1996.github.io/p2-styled-site/">Nikitha Kethireddy</a></li>
                <li><a href="https://rishikaponugoti.github.io/about-me/">Rishika Ponugati</a></li>
                
              </ul>
              <br />
              <br />
              <br />
                  <h4>Student: Test GET JSON by URL</h4>
                  <ol>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findall">https://nodejs-app12.herokuapp.com/Student/findall</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/1234">https://nodejs-app12.herokuapp.com/Student/findone/1234</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/2345">https://nodejs-app12.herokuapp.com/Student/findone/2345</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/7765">https://nodejs-app12.herokuapp.com/Student/findone/7765</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/9432">https://nodejs-app12.herokuapp.com/Student/findone/9432</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/8970">https://nodejs-app12.herokuapp.com/Student/findone/8970</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/6789">https://nodejs-app12.herokuapp.com/Student/findone/6789</a>
                    </li>
                    <li>
                      <a href="https://nodejs-app12.herokuapp.com/student/findone/4567">https://nodejs-app12.herokuapp.com/Student/findone/4567</a>
                    </li>
                      <li>
                          <a href="https://nodejs-app12.herokuapp.com/newpage">https://nodejs-app12.herokuapp.com/newpage</a>
                      </li>
                  </ol>

                  <br>


                  

                  <h4>Section: Test GET JSON by URL</h4>
                  <ol>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findall">https://nodejs-app12.herokuapp.com/Section/findall</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/99">https://nodejs-app12.herokuapp.com/Section/findone/99</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/100">https://nodejs-app12.herokuapp.com/Section/findone/100</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/101">https://nodejs-app12.herokuapp.com/Section/findone/101</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/102">https://nodejs-app12.herokuapp.com/Section/findone/102</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/103">https://nodejs-app12.herokuapp.com/Section/findone/103</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/104">https://nodejs-app12.herokuapp.com/Section/findone/104</a>
                    </li>
                    <li> <a href="https://nodejs-app12.herokuapp.com/section/findone/105">https://nodejs-app12.herokuapp.com/Section/findone/105</a>
                    </li>
                  </ol>

                  <br>

                  <h4>Course: Test GET JSON by URL</h4>
                  <ol>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findall">https://nodejs-app12.herokuapp.com/Course/findall</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/200">https://nodejs-app12.herokuapp.com/Course/findone/200</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/201">https://nodejs-app12.herokuapp.com/Course/findone/201</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/202">https://nodejs-app12.herokuapp.com/Course/findone/202</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/203">https://nodejs-app12.herokuapp.com/Course/findone/203</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/204">https://nodejs-app12.herokuapp.com/Course/findone/204</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/205">https://nodejs-app12.herokuapp.com/Course/findone/205</a>
                      </li>
                      <li> <a href="https://nodejs-app12.herokuapp.com/course/findone/206">https://nodejs-app12.herokuapp.com/Course/findone/206</a>
                      </li>
                  </ol>

                  <br>
                  <hr>

              <h4>Student: Test Requests to GET a view</h4>
              <ol>
                  <li> <a href="https://nodejs-app12.herokuapp.com/student">https://nodejs-app12.herokuapp.com/student</a>
                  </li>
                  <li> <a href="https://nodejs-app12.herokuapp.com/student/create">https://nodejs-app12.herokuapp.com/student/create</a>
                  </li>
                  <li> <a href="https://nodejs-app12.herokuapp.com/student/edit/1234">https://nodejs-app12.herokuapp.com/student/edit/1234</a>
                  </li>
                  <li> <a
                          href="https://nodejs-app12.herokuapp.com/student/delete/2345">https://nodejs-app12.herokuapp.com/student/delete/2345</a>
                  </li>
                  <li> <a
                          href="https://nodejs-app12.herokuapp.com/student/details/7765">https://nodejs-app12.herokuapp.com/student/details/7765</a>
                  </li>
              </ol>

              <br>

              
              

              <h4>Section: Test Requests to GET a view</h4>
              <ol>
                  <li> <a href="https://nodejs-app12.herokuapp.com/section">https://nodejs-app12.herokuapp.com/section</a>
                  </li>
                  <li> <a href="https://nodejs-app12.herokuapp.com/section/create">https://nodejs-app12.herokuapp.com/section/create</a>
                  </li>
                  <li> <a href="https://nodejs-app12.herokuapp.com/section/edit/99">https://nodejs-app12.herokuapp.com/section/edit/99</a>
                  </li>
                  <li> <a
                          href="https://nodejs-app12.herokuapp.com/section/delete/100">https://nodejs-app12.herokuapp.com/section/delete/100</a>
                  </li>
                  <li> <a
                          href="https://nodejs-app12.herokuapp.com/section/details/101">https://nodejs-app12.herokuapp.com/section/details/101</a>
                  </li>
              </ol>

              <br>
              <h4>Course: Test Requests to GET a view</h4>
              <ol>
                <li> <a href="https://nodejs-app12.herokuapp.com/course">https://nodejs-app12.herokuapp.com/course</a>
                </li>
                <li> <a href="https://nodejs-app12.herokuapp.com/course/create">https://nodejs-app12.herokuapp.com/course/create</a>
                </li>
                <li> <a href="https://nodejs-app12.herokuapp.com/course/edit/112">https://nodejs-app12.herokuapp.com/course/edit/201</a>
                </li>
                <li> <a
                        href="https://nodejs-app12.herokuapp.com/course/delete/113">https://nodejs-app12.herokuapp.com/course/delete/202</a>
                </li>
                <li> <a
                        href="https://nodejs-app12.herokuapp.com/course/details/114">https://nodejs-app12.herokuapp.com/course/details/203</a>
                </li>
            </ol>
              

          </div>
      </div>
  </main>
  <hr>


</body>

</html>


