<body>

  <main class="container-fluid">
      <div class=row>
          <div class="col col-md-12">
              <br />
              <h1>Web App Developers - Fall 2019</h1>
              <br />
              <hr>
              <h3>About The Developers</h3>
              <ul>
                <li><a href="https://sushma95.github.io/about-me/">Sushma Yedugani</a></li>
                <li><a href="https://nikithakethireddy1996.github.io/p2-styled-site/">Nikitha Kethireddy</a></li>
                <li><a href="#">Rishika ponugati</a></li>
                
              </ul>
              <br />
              <br />
              <br />
                  <h4>Student: Test GET JSON by URL</h4>
                  <ol>
                    <li>
                      <a href="http://localhost:3004/student/findall">http://localhost:3004/Student/findall</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/1234">http://localhost:3004/Student/findone/1234</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/2345">http://localhost:3004/Student/findone/2345</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/7765">http://localhost:3004/Student/findone/7765</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/9432">http://localhost:3004/Student/findone/9432</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/8970">http://localhost:3004/Student/findone/8970</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/6789">http://localhost:3004/Student/findone/6789</a>
                    </li>
                    <li>
                      <a href="http://localhost:3004/student/findone/4567">http://localhost:3004/Student/findone/4567</a>
                    </li>
                      <li>
                          <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
                      </li>
                  </ol>

                  <br>


                  

                  <h4>Section: Test GET JSON by URL</h4>
                  <ol>
                    <li> <a href="http://localhost:3004/section/findall">http://localhost:3004/Section/findall</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/99">http://localhost:3004/Section/findone/99</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/100">http://localhost:3004/Section/findone/100</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/101">http://localhost:3004/Section/findone/101</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/102">http://localhost:3004/Section/findone/102</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/103">http://localhost:3004/Section/findone/103</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/104">http://localhost:3004/Section/findone/104</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/findone/105">http://localhost:3004/Section/findone/105</a>
                    </li>
                  </ol>

                  <br>

                  <h4>Course: Test GET JSON by URL</h4>
                  <ol>
                      <li> <a href="http://localhost:3004/course/findall">http://localhost:3004/Course/findall</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/200">http://localhost:3004/Course/findone/200</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/201">http://localhost:3004/Course/findone/201</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/202">http://localhost:3004/Course/findone/202</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/203">http://localhost:3004/Course/findone/203</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/204">http://localhost:3004/Course/findone/204</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/205">http://localhost:3004/Course/findone/205</a>
                      </li>
                      <li> <a href="http://localhost:3004/course/findone/206">http://localhost:3004/Course/findone/206</a>
                      </li>
                  </ol>

                  <br>
                  <hr>

              <h4>Student: Test Requests to GET a view</h4>
              <ol>
                  <li> <a href="http://localhost:3004/student">http://localhost:3004/student</a>
                  </li>
                  <li> <a href="http://localhost:3004/student/create">http://localhost:3004/student/create</a>
                  </li>
                  <li> <a href="http://localhost:3004/student/edit/1234">http://localhost:3004/student/edit/1234</a>
                  </li>
                  <li> <a
                          href="http://localhost:3004/student/delete/2345">http://localhost:3004/student/delete/2345</a>
                  </li>
                  <li> <a
                          href="http://localhost:3004/student/details/7765">http://localhost:3004/student/details/7765</a>
                  </li>
              </ol>

              <br>

              
              

              <h4>Section: Test Requests to GET a view</h4>
              <ol>
                  <li> <a href="http://localhost:3004/section">http://localhost:3004/section</a>
                  </li>
                  <li> <a href="http://localhost:3004/section/create">http://localhost:3004/section/create</a>
                  </li>
                  <li> <a href="http://localhost:3004/section/edit/99">http://localhost:3004/section/edit/99</a>
                  </li>
                  <li> <a
                          href="http://localhost:3004/section/delete/100">http://localhost:3004/section/delete/100</a>
                  </li>
                  <li> <a
                          href="http://localhost:3004/section/details/101">http://localhost:3004/section/details/101</a>
                  </li>
              </ol>

              <br>
              <h4>Course: Test Requests to GET a view</h4>
              <ol>
                <li> <a href="http://localhost:3004/course">http://localhost:3004/course</a>
                </li>
                <li> <a href="http://localhost:3004/course/create">http://localhost:3004/course/create</a>
                </li>
                <li> <a href="http://localhost:3004/course/edit/112">http://localhost:3004/course/edit/201</a>
                </li>
                <li> <a
                        href="http://localhost:3004/course/delete/113">http://localhost:3004/course/delete/202</a>
                </li>
                <li> <a
                        href="http://localhost:3004/course/details/114">http://localhost:3004/course/details/203</a>
                </li>
            </ol>
              

          </div>
      </div>
  </main>
  <hr>


</body>

</html>


